#inventory-table {
    border-collapse: collapse;
    background-color: transparent;
    border-color: transparent;
}

#inventory-table td {
    border: 1px solid #aaaaaa;
    white-space:nowrap;
    overflow: hidden;
    padding: 2px 6px;
    margin: 0;
}


thead td, tfoot td {
    padding: 4px 16px 4px 4px;
    background-color: rgba(245, 245, 245, 0.7);
    font-weight: bold;
}


#inventory-table .hidden {
    background-color: transparent;
    border: 0px solid #aaaaaa;
}

#header {
    font-size: 0.8em;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
}