#password-reset-main-body-wrapper {
    max-width: 300px;
    min-width: 250px;
    width: auto;
    height: auto;
    margin: 100px auto 0px auto;
    padding: 0 0 20px 0px;
    background-color: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#password-reset-main-body-wrapper h1 {
    background-color: #0093d0;
    height: 40px;
    line-height: 40px;
    color: white;
    font-weight: bold;
    font-size: 140%;
    border-bottom: 2px solid #006DBD;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}